.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 1000px;
  height: 400px;       /* REQUIRED */
  object-fit: cover;   /* REQUIRED */
}

.btn {
  padding: 10px 20px;
  background-color: #fe0100;
  color: white;
  border-radius: 5px;
  border: none;
}